.searchBar{
    margin-top: 50px;
}
.card-container{
    width: 18rem;
    margin: 20px;
}
.card-badge{
    color:white;
    background: rgba(90, 90, 215, 0.616);
    padding: 1px 5px 2px 5px;
    border-radius: 5px;
}
.blog{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 3rem;
    margin: 50px 10px 10px 10px;
}
.card-container-fluid{
    width: 70rem;
    margin: 30px 30px 30px 70px;
}